.header{
    display:flex;
    height: 50px;
    width: 100%;
    margin: 0 auto;
    background: silver;
}
.header h1{
    margin: 0 80px 0 0;
}
.header_items{
    display:flex;
    width: 100%;
}
.header_items div{
    border-right: 1px #B2B0B0 solid;
}
.header_items div:hover{
    background: #B0ABAB;
    transition: background 0.5s;
}
.header_items a{
    position: relative;
    top: 25%;
    margin-left: 10px;
    padding-right: 10px;
    text-align: center;
    text-decoration: unset;
    color: #282c34;
}
.exit_box{
    position: relative;
    float: right;
}
.user_list{
    margin: 30px auto;
    position: relative;
    background: #7E6C6C;
    height: 100vh;
    width: 100vw;
}
.user_info{
    width: 200px;
    height: 300px;
    background: #B2B0B0;
    border: 1px #7E6C6C solid;
    border-radius: 10px;
    justify-content: center;
}
.user_info:hover{
    background: lightgray;
    transition: background 0.5s;
}
.user_list_box{
    display: inline-flex;
    margin: 20px 0 0 20px;
}
.user_list_box div{
    margin-right: 20px;
    text-align: center;
}
.user_info p{

}
.image_holder{
    width: 150px;
    height: 150px;
    margin: 25px;
    background: silver;
    border-radius: 360px;
}