
.profile_sub_body{
    display: flex;
}

.profile_box_page{
    position: relative;
    width: 300px;
    height: 550px;
    border: 1px #282c34 solid;
    background: white;
    left: 7%;
    margin-top: 40px;
    float: left;
    text-align: center;
}
.profile_pic{
    width: 200px;
    height: 200px;
    background: lightblue;
    border: 1px #282c34 solid;
    margin-left: 50px;
    margin-top: 10px;
}
.profile_description{

}
.profile_actions{
    display: inline-grid;
    position: relative;
    top: 20%;
}
.profile_actions button{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 20px;
    border: 0;
    background: #F1F0F0;
    height: 30px;
    width: 200px
}
.profile_collection_box{
    position: relative;
    height: auto;
    background: white;
}
.collections{

}
.collection-switch-box{
    position: relative;
    width: 70%;
    float: right;
    left: 9%;
    margin-top: 40px;
    height: auto;
    background: white;
    border: 1px #282c34 solid;
}