.registration_box{
    width: 700px;
    height: 500px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    border: 1px solid #282c34;
    display: block;
    text-align: center;
    background: lightgray;
}
.registration_box div{
    justify-content: center;
    align-content: center;
    display: flex;
}
.registration_box p{
    width: 120px;
    text-align: left;
    margin-top: 20px;
}
.registration_field{
    height: 20px;
    margin: 0 15px 15px 15px;
}